torch==2.2
numpy<2
beautifulsoup4
requests
tqdm
langchain-text-splitters
langchain-community
langgraph
langchain-ollama
langchain-huggingface
faiss-cpu
sentence-transformers
fastapi[standard]
aiofiles
